GITHUB_TOKEN=
ADMIN_KEY=
ADMIN_EMAIL=helpdesk@truststack.academy
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
LEARNER_AUTH_SECRET=
GITHUB_REPO=youngdestinya/truststack-academy
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_BASE_URL=https://truststack.academy
